/* google fonts */


/* fontes utilizadas */



@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Patua+One&display=swap');












/* vairaveis de fonts */
:root {
    --fonte-menu: "pt serif";
    --fonte-subtitulo: "Breef serif";
    --fonte-titulo: "patua one"
}
/* filtro cor logo */
html[data-theme='dark'] .logo {
    filter: invert(1);
}






/* variavel de cores */

/* tema escuro */
:root, :root[data-theme='dark'] {
    
    --cor-fundo: #000;  
    --cor-fundo-sec: #aaa;
    --cor-txt-menu: #fff;
    --cor-destaque: yellow;
}

/* tema claro */

:root, :root[data-theme='light'] {

    --cor-fundo: #fff;
    --cor-fundosec: #aaa;
    --cor-txt-menu: #000;   
    --cor-destaque: #929746;
}
    



/* converter rem em px */
html {
    font-size: 62.5%;
}






/* reset CSS= padronizar os navegadores  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;

}



/* estrutura do site html */
body {
    background-color: var(--cor-fundo);

}



/* cabeçalho */
header {
    background: #303030;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu-desktop {
    display: none;
    justify-content: center;
    align-items: center;
}

/* menu UL */
.menu {
    display: flex;
    list-style: none;
    gap: 16px;
}

/* A Href = menu = meu link */
.menu-link {
    text-decoration: none;
}

.menu-link {
    color: rgb(160, 160, 36);
}

.menu-texto {
    color: var(--cor-txt-menu);
    text-transform: capitalize;
    font-size: 1.8rem;
    font-family: var(--fonte-titulo)
    
}

.header-toggle {
    cursor: pointer;
    font-size: 1.8rem;
    color: #000;




}



h1 { /* cabeçalho */
    font-size: 32px;
    text-align: center;
    /* cor fundo */
    background-color: #303030;
    font-family: "patua one";
    /* cor letras cabeçalho */
    color: yellow;
    
}


.logo img {
    width: 12.5rem;
    height: 12rem;
}

/* herança */
.menu-link.active .menu-texto,
.menu-link.hover .menu-texto {
    color: var(--cor-destaque);

}





/* menu responsivo */
/* a partir de telas grandes */
@media (min-width:768px) {
    header {
        padding: 1rem 6rem;



    }

    .menu-desktop {
        display: flex;
        justify-content: end;
        align-items: center;
        margin: auto;

    }
}