/* google fonts */


/* fontes utilizadas */



@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&family=Patua+One&display=swap');












/* vairaveis de fonts */
:root {
    --fonte-menu: "pt serif";
    --fonte-subtitulo: "Breef serif";
    --fonte-titulo: "patua one"
}

/* filtro cor logo */
html[data-theme='dark'] .logo {
    filter: invert(1);
}






/* variavel de cores */

/* tema escuro */
:root,
:root[data-theme='dark'] {

    --cor-fundo: #000;
    --cor-fundo-sec: #ffffff;
    --cor-txt-menu: #fffb00;
    --cor-destaque: #ffffff;

    --cor-titulo: #fffb00;
    --cor-icone-rede: #e2e2cf;
    --linha-home: #fffb00;
    --menu-mobile:#fff;
}

/* tema claro */

:root,
:root[data-theme='light'] {

    --cor-fundo: #fff;
    --cor-fundosec: #ffffff;
    --cor-txt-menu: #fffb00;
    --cor-destaque: #ffffff;

    --cor-titulo: #999999;
    --cor-icone-rede: #e2e2cf;
    --linha-home: #ffee00;
}




/* converter rem em px */
html {
    font-size: 62.5%;
}






/* reset CSS= padronizar os navegadores  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: transparent;

}



/* estrutura do site html */
body {
    background-color: var(--cor-fundo);

}



/* cabeçalho */
header {
    background: #303030;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    z-index: 200;
    padding: 0.5rem 1rem;
    border-bottom: 2px solid var(--linha-home)
}

.p {
    display: flex;
    align-items: center;
}



.menu-desktop {
    display: none;
    justify-content: center;
    align-items: center;
}

/* menu UL */
.menu {
    display: flex;
    list-style: none;
    gap: 16px;
}
 /* Menu Mobile */

/* Icone Hamburger */
.btn-menu-mobile {
  background: transparent;
  color: var(--icone-menu-mobile);
  border: none;
  font-size: 2.2rem;
  padding: 1rem;
  margin-left: 1rem;
}

/* menu mobile (estilo e animação) */
  /* NAV */
.menu-mobile {
  position: fixed;
  top: 0;
  right: 0;
  /* left: 0  menu da Esq para Dir*/
  background: var(--cor-fundo-secundaria);
  z-index: 100;
  /* Sair total da tela */
  transform: translateX(100%);
  display: flex;
  flex-direction: column;
  padding-top: 6.5rem;
  border-left: 1px solid var(--cor-borda);
  height: 100vh;
  width: 35%;
  transition: ease-in-out 0.3s;
}

.menu-mobile.active {
  /* Ela volta para o Original */
  transform: translateX(0%);
}

.menu-mobile .menu-lista {
  width: 100%;
  text-align: start;
  padding: 2rem 0;
  margin: 0;
  list-style: none;
}

/* estrutura lista */
.menu-mobile li:hover {
  background: var(--cor-fundo);
  width: 100%;
  padding: 0;
}

/* A href e span */
.menu-lista .menu-link:hover {
  color: var(--cor-textos);
}



/* A Href = menu = meu link */
.menu-link {
    text-decoration: none;
}

.menu-link {
    color: rgb(160, 160, 36);
}

.menu-texto {
    color: var(--cor-txt-menu);
    text-transform: capitalize;
    font-size: 1.8rem;
    font-family: var(--fonte-menu);
    font-weight: 600;

}

.header-toggle {
    cursor: pointer;
    font-size: 1.8rem;
    color: #000;




}



h1 {
    /* cabeçalho */
    font-size: 32px;
    text-align: center;
    /* cor fundo */

    font-family: "patua one";
    /* cor letras cabeçalho */
    color: rgb(0, 0, 0);

}


.logo img {
    width: 8rem;
   
    color: #000000;


}

/* herança */
.menu-link.active .menu-texto,
.menu-link:hover .menu-texto {
    color: var(--cor-destaque);



}


/* hero= home */
h1 {
    color: var(--cor-titulo);
    /* cor texto */

    font-size: 2.5rem;
    font-weight: 100;
    font-family: var(--fonte-menu);

}

/* tamanho do texto */
strong {
    font-weight: 800;

}

p {
    color: var(--cor-titulo);
    font-size: 1.8rem;
    font-family: var(--fonte-menu);

}

/* articls da aba instrumentos */

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
/* contato */
.contato {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  border-top: 1px solid var(--cor-txt-menu);
  border-bottom: 1px solid var(--cor-borda);
  scroll-margin-top: 3.5rem;
}

.contato h2 {
  color: var(--cor-txt-menu);
  font-size: 3rem;
  font-weight: 600;
  font-family: var(--fonte-padrao);
  text-transform: uppercase;
}

.contato .menu-social li {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
}

.contato span {
  color: var(--cor-titulo);
  font-size: 2.2rem;
  margin-left: 5px;
  font-family: var(--fonte-padrao);
}

/* Grid CSS */
.contato-grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 2rem;
  width: 100%;
  margin-top: 5rem;
}

.contato-formulario,
.contato-mapa {
  width: 90%;
}

.contato-mapa iframe {
  width: 100%;
  height: 100%;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 5px 5px 15px -2px #ffffff89;
}

.form-contato {
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

/* Inputs */
.form-contato input,
.form-contato textarea {
  width: 100%;
  /* Cor fundo secundaria */
  background-color: var(--cor-txt-menu);
  font-size: 1.8rem;
  /* aumenta a distancia interna */
  padding: 0.75rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  color: var(--cor-txt-menu);
}

/* Pseudo elemento */
.form-contato input::placeholder,
.form-contato textarea::placeholder {
  /* Cor com Transparencia */
  color: #8686867b;
  font-size: 1.8rem;
}


.form-contato button {
  border: 0;
  background-color: var(--cor-fundo-secundaria);
  align-items: center;
  /* Adapta ao Conteudo */
  align-self: flex-start;
  gap: 2rem;
  display: flex;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  box-shadow: 5px 5px 5px #b3b3b36b;
}

.form-contato button i, 
.form-contato button span {
  color: var(--cor-titulo);
} 

.form-contato button:hover {
  filter: brightness(1.5);
  transition: ease-in-out 0.3s;
  background-color: #7a81858f;
  transform: scale(1.03);
}

.form-contato button i {
  font-size: 2rem;
}

/* primeiro click-loja */
.menu-loja {
    display: flex;
    list-style: none;
    gap: 5rem;
    padding: 0;
    margin: 45px;
    align-items: center;

}

.menu-loja .social-icon {
    color: var(--cor-titulo);
    color: #000;
    font-size: 4rem;
    background: #fbff00;
    padding: 5px 10px;
    border-radius: 25%;
    transition: ease-out .5s;
}

.menu-loja .social-icon:hover {
    color: var(--cor-icone-rede);
}


/* redes sociais */

.menu-social {
    display: flex;
    list-style: none;
    gap: 2.2rem;
    padding: 0;
    margin: 45px;
    align-items: center;

}

.menu-social .social-icon {
    color: var(--cor-titulo);
    color: #000;
    font-size: 2rem;
    background: #fbff00;
    padding: 5px 10px;
    border-radius: 25%;
    transition: ease-out .5s;
}

.menu-social .social-icon:hover {
    color: var(--cor-icone-rede);
}

/* carrocel */

/* estrutura slides */
.carousel .carousel-item {
    height: 60vh;
    min-height: 350px;
    box-shadow: #fbff00;
}

/* tamanho das imagens */
.carousel .carousel-item img,
.carousel .carousel-item .ratio {
    height: 100%;
    object-fit: cover;
    object-position: center;
    pointer-events: none;
    border-radius: 5rem 5rem 5rem 5rem;

}

/* filtro ou overlay escuro sitil acima dos slides */
/* pseudo elemento */
.carousel .carousel-item::before {
    content: "";
    
    position: absolute;
    inset: 0;


}

.carousel .carousel-caption {
    position: absolute;
    inset: 150px;
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;



}

.carousel h5 {
    font-size: 5rem;
}

.carousel p {
    font-size: 2.2rem;
    color: #fbff00;
}


.carousel h5,
.carousel p {
    text-shadow: 0 2px 14px black;
}


/* video */
.video {
    display: flex;
    justify-content: center;
    align-items: center;
}

.video iframe {
    aspect-ratio: 16/9;
    width: 95%;
    box-shadow: 0 15px 15px -2px #ffee00;
}



/* seção geral */
/* volar aqui mais tarde */
#home, .projetos
.contato {
    padding: 4rem 10rem;
}


/* projetos */
.inicio {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    /* voltar */
    /* colocar "scroll margin top" */
    
}

.inicio h2 {
    text-align: center;
    font-size: 3.5rem;
    font-family: var(--fonte-titulo);
    color: #ffee00;
    font-weight: 400;
    text-transform: uppercase;
}


/* Projetos */
.projetos {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* Voltar */
  scroll-margin-top: 50px;
}

.projetos h2 {
  text-align: center;
  font-size: 2.5rem;
  font-family: var(--fonte-subtitulo);
  color: var(--cor-titulo);
  font-weight: 400;
  text-transform: uppercase;
}

.projeto-container {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Articles dos projetos */
.projeto-card {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}

/* Classes das IMGs */
.card-cover {
  width: 100%;
  object-fit: cover;
  border-radius: 5rem 5rem;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 2rem;
  margin-top: 2rem;
  text-align: justify;
}
.card-reverse .card-body {
  align-items: flex-end;
  justify-content: flex-start;
  text-align: end;
  margin-top: 10px;
  gap: 2rem;
}

/* titulo do produto */
.card-body .card-title {
  color: var(--cor-subtitulo);
  font-size: 3rem;
  font-family: var(--fonte-subtitulo);
  font-weight: 700;
}

/* Paragrafo sobre o produto */
.card-body .card-description {
  color: var(--cor-textos);
  font-size: 1.8rem;
  font-family: var(--fonte-padrao);
  letter-spacing: 1px;
}

.card-lista {
  list-style: none;
  padding-left: 0;
}

.card-item {
  color: var(--cor-textos);
  font-size: 1.8rem;
  font-family: var(--fonte-padrao);
  margin-bottom: 10px;
}

/* icone da lista */
.card-item i {
  color: var(--cor-textos);
  font-size: 2.2rem;
  margin-right: 10px;
}

.card-item i:hover {
  color: var(--icone-tema);
  transition: ease-in-out 0.3s;
}



.main-content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 2rem;
    /* Empurra o video */
    margin-bottom: 5rem;

}
.form-contato {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.form-contato input {
    width: 100%;
    background-color: var(--cor-destaque);
    font-size: 1.8rem;
    color: var(--cor-txt-menu);
}

.form-contato input::placeholder,
.form-contato textarea::placeholder{
    color: #303030;
}

/* footer - roda pé */
    footer {
        display: flex;
        justify-content: center;
    }
    .footer p {
        padding: 2rem 0;
    }
    font a {
        text-decoration: none;
        color: var(--cor-fundo);
    }



/* Responsivo */

/* Largura ate */
@media (min-width: 1199px) {
    
}

@media (max-width: 768px) {


  
    .carousel .carousel-inner {
        margin-top: -2rem;
        
    }

    #home {
        padding-top: 6rem;
    }

    .contato-grid {
        grid-template-columns: 1fr;
    }
    .contato-mapa {
        display: flex;
    }
}

/* Telas a partir de 992 */
@media (min-width: 992px) {
  .projeto-card {
    flex-direction: row;
  }

  .card-cover {
    width: 55%;
  }

  .card-reverse {
    /* Reverso / modo Espelho */
    flex-direction: row-reverse;
  }
}


/* A partir de Telas Grandes */
@media (min-width:768px) {
    
    .btn-menu-mobile {
    display: none;
    }

    header {
        padding: 1rem 10rem;
        justify-content: flex-start;
        gap: 2rem;
    }

    .menu-desktop {
        display: flex;
        justify-content: flex-end;
        align-items: center;
    }

    .logo {
        margin-right: auto;
    }

    .carousel .carousel-inner {
        margin-top: -4.2rem;
        padding-top: 7rem;
    }

    /* Voltar Aqui */
    #home,
    .inicio {
        padding: 4rem 10rem;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }

    h1 {
        font-size: 5rem;
    }
    .projetos h2,
  .contato h2 {
    font-size: 3.5rem;
  }

}
/* Telas maiores que 1200 */
@media (min-width: 1200px) {
  .projetos h2,
  .contato h2 {
    font-size: 4rem;
  }
}
    

/* Telas maiores que 1400px */
@media (min-width: 1400px) {
    h1 {
        font-size: 6.5rem;
    }

    /* Voltar aqui */
    .complemento {
        padding: 5rem 7rem 4rem;
        margin-top: -7rem;
    }

    .complemento h2 {
        font-size: 4.5rem;
    }
        .contato {
            font-size: 3rem;
        }
    .projetos {
    padding: 10rem 12rem 4rem;
  }
    .projetos .card-title {
    font-size: 3.5rem;
  }

}